<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:data="http://www.w3.org/1999/xhtml"
      xmlns:https="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml" lang="fr"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--/*@thymesVar id="site" type="com.begr.escalade.entity.Site"*/-->
<!--/*@thymesVar id="newComment" type="com.begr.escalade.entity.Comment"*/-->
<head>
    <title>Application escalade</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--/* Per-page placeholder for additional links */-->
    <link rel="stylesheet" th:href="@{/css/listImbriquee.css}"/>

    <script src="https://kit.fontawesome.com/c27764e901.js" crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
    <div th:insert="~{utils/menu :: menu}"></div>
    <div class="row">
        <div class="col">

            <h1 th:text="${site.name}">Titre du site</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <img th:src="'https://loremflickr.com/1280/400/' + ${site.slug} + '/all'" th:alt="${site.name}" class="img-fluid">
        </div>

    </div>
    <div class="row">
        <div class="col">
            <p th:text="${'Dernière modification: ' + site.lastModifiedDate + ' par: ' + site.lastModifiedBy}"></p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p th:text="${site.description}">description</p>
        </div>
    </div>
    <div th:insert="~{utils/listSecteurs :: listSecteurs}"></div>

    <hr>
    <h2>Commentaires</h2>


    <div th:each="theComment: ${site.comments}" class="row">
        <div class="col">
            <p>
                <span th:text="${theComment.author.username + ': '+ theComment.value}">Texte de commentaire</span>
                <button sec:authorize="hasAuthority('MEMBER')" type="button" class="btn btn-sm btn-primary fas fa-edit" data-toggle="modal"
                        th:attr="data-commentid=${theComment.id},data-commentvalue=${theComment.value}"
                           data-target="#myModal"></button>
                <a th:href="@{/site/commentDelete(id=${theComment.id })}" class="btn btn-sm btn-danger far fa-trash-alt"></a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>Ajouter un commentaire</h2>
        </div>
    </div>

    <div th:insert="~{utils/CommentForm :: commentForm}"></div>
</div>



<div th:insert="~{utils/scripts :: scripts}"></div>
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifier commentaire</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form action="/site/editComment" method="get">
                    <div class = "form-group row ">
                        <div class = "col">
                            <input id="commentValue" type = "text" class="form-control" placeholder="alea jact est" name="commentValue" value="" >
                        </div>
                        <div class="col">
                            <span class="text-danger"> </span>
                        </div>
                    </div>
                    <div class = "form-group row">
                        <div class = "col">
                            <input type="hidden" id="commentId" name="commentId" value="">
                            <button type = "submit" class = "btn btn-primary">Enregistrer</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>

                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script>
    $('#myModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Bouton qui a ouvert la modale
        // On récupère les valeurs data et on les envoie dans les class que l'on veut
        $('#commentId').val(button.data('commentid'));
        $('#commentValue').val(button.data('commentvalue'));
    })
</script>
</body>
</html>