<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<body>
    <form th:fragment="commentForm" action="#" method="post" th:action="@{/site/addComment}">
        <div class = "form-group row ">
            <label for="value" class = "col-sm-2 col-form-label">Commentaire</label>
            <div class = "col-sm-4">
                <input type = "text" class="form-control" placeholder="alea jact est" name="value" th:field="${newComment.value}" >
            </div>
            <div class="col-sm-4">
                <span class="text-danger"> </span>
            </div>
        </div>
        <div class = "form-group row">
            <div class = "col-sm-10">
                <input type="hidden" th:name="site" th:value="${site.id}">
                <button type = "submit" class = "btn btn-primary">Enregistrer</button>
                <a href="/site/list" class = "btn btn-secondary">Annuler</a>
            </div>
        </div>

    </form>
</body>
</html>