<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:data="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="fr">
<head >
  <title>Application escalade</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!--/* Per-page placeholder for additional links */-->


</head>
<body>
<div class="container">
  <div th:insert="~{utils/menu :: menu}"></div>

  <h1>Bienvenue sur l'application d'escalade</h1>
  <div th:if="${#request.userPrincipal}">
  Bienvenue <span sec:authentication="name">Bob</span>
  Vous aves les role: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
  </div>
  <div th:if="!${#request.userPrincipal}">
    Bienvenue visiteur, nous n'êtes pas encore connecté.
  </div>
</div>
<span th:insert="~{utils/scripts :: scripts}"></span>
</body>
</html>